@super-js:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=e668e1baac78425389a6f2bdde47d32afe045b69
@kiddykit:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=9f04312b5e91f5b4add8af2596d8a175bb0f4d43